# DOMAIN NAME
# ---------------------------
DOMAIN_NAME=login.42.fr

# MYSQL SETUP
# ---------------------------
SQL_DATABASE=xxxx
SQL_USER=xxxx

# WORDPRESS SETUP
# ---------------------------
WP_TITLE=xxxx
WP_ADMIN_USER=xxxx
WP_ADMIN_EMAIL=xxxx
WP_USER=xxxx
WP_USER_EMAIL=xxxx